ul {
    align-items: center;
}

#sortable {
    list-style-type: none;
    margin: 0;
    /*padding: 5px 50% 5px 33%;*/
    width: 300px;
}

#sortable li {
    align-self: center;
    text-align: center;
    border-radius: 10px;
    font-family: "HP Simplified Light", Verdana, monospace;
    font-weight: bold;
    margin: 0 3px 3px 3px;
    padding: 10px 5px 5px 1.5em;
    font-size: 1.4em;
    height: 21px;
    line-height: 1em;
}

.ui-state-highlight {
    height: 1.5em;
    line-height: 1.2em;
}

.div {
}

#body {
    text-align: center;
}

h2, h1{
    font-family: "HP Simplified Light", Verdana, monospace;
}

ul{

}